@model IEnumerable<SistemaGestionEntities.Producto>

@{
    ViewBag.Title = "Lista de productos";
}

<div class="container mt-5">
    <a href="@Url.Action("CreateProducto", "Producto")" class="btn btn-success mb-3">Crear Producto</a>
    <h2>@ViewBag.Title</h2>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Descripción</th>
                <th>Costo</th>
                <th>Precio de Venta</th>
                <th>Stock</th>
                <th>Editar</th>
                <th>Borrar</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var producto in Model)
            {
                <tr>
                    <td>@producto.Id</td>
                    <td>@producto.Descripcion</td>
                    <td>@producto.Costo</td>
                    <td>@producto.PrecioVenta</td>
                    <td>@producto.Stock</td>
                    

                    <td>
                        <!-- Botón para editar -->
                        <a href="@Url.Action("EditarProducto", "Producto", new { id = producto.Id })" class="btn btn-primary">Editar</a>
                    </td>
                    <td>
                        <!-- Formulario para borrar -->
                        <form method="post" asp-action="Delete" asp-route-Id="@producto.Id" onsubmit="return confirm('¿Estás seguro de que quieres eliminar este producto?');">

                            <input type="hidden" asp-antiforgery="true">
                            <button type="submit" class="btn btn-danger">Borrar</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
