@model SistemaGestionEntities.Usuario

@{
    ViewBag.Title = "Bienvenida";
    Layout= "~/Views/Shared/_Layout.cshtml";
}"


<h2>Bienvenida</h2>

<form method="post">
    <label for="username">Nombre de usuario:</label>
    <input type="text" id="username" name="username" value="" required />
    <button type="submit">Buscar</button>
</form>
@{
    dynamic user = ViewBag.User;
}

@if (user != null)
{
    <div>
        <p><strong>ID:</strong> @user.Id</p>
        <p><strong>Nombre:</strong> @user.Nombre</p>
        <p><strong>Apellido:</strong> @user.Apellido</p>
        <p><strong>Nombre de Usuario:</strong> @user.NombreUsuario</p>
        <p><strong>Correo Electrónico:</strong> @user.Mail</p>
    </div>
}
else if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
{
    <p>@ViewBag.ErrorMessage</p>
}


<h2>Crear Usuario</h2>
<form asp-action="Create" method="post">
    <div class="form-group">
        <label for="Nombre">Nombre:</label>
        <input type="text" class="form-control" id="Nombre" asp-for="Nombre" required />
        <span asp-validation-for="Nombre" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="Apellido">Apellido:</label>
        <input type="text" class="form-control" id="Apellido" asp-for="Apellido" required />
        <span asp-validation-for="Apellido" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="NombreUsuario">Nombre de Usuario:</label>
        <input type="text" class="form-control" id="NombreUsuario" asp-for="NombreUsuario" required />
        <span asp-validation-for="NombreUsuario" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="Password">Contraseña:</label>
        <input type="password" class="form-control" id="Password" asp-for="Password" required />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="Mail">Correo Electrónico:</label>
        <input type="email" class="form-control" id="Mail" asp-for="Mail" required />
        <span asp-validation-for="Mail" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Crear</button>
</form>

